Host bastion
    HostName 172.31.13.202
	User eric
    Port 27

Host db-quorum-dev
    HostName 172.31.13.202
    User eric
    Port 27
    LocalForward 5433 dev-db-03-03-2022.cq0q6gte857c.us-east-1.rds.amazonaws.com:5432
    ExitOnForwardFailure yes

Host db-quorum-prod
    HostName 172.31.13.202
    User eric
    Port 27
    LocalForward 5434 quorum-production.ck4wgl7u5wcg.us-east-1.rds.amazonaws.com:5432
    ExitOnForwardFailure yes
