Host bastion
    HostName ec2-52-206-129-115.compute-1.amazonaws.com
	User eric
	Port 27

Host quorum-*
	User ubuntu
    IdentityFile ~/.ssh/quorum-fall-2020.pem
    ProxyJump bastion
Host quorum-update
    HostName ec2-34-192-53-133.compute-1.amazonaws.com
Host quorum-state-update
	HostName ec2-52-1-24-252.compute-1.amazonaws.com
Host quorum-staging
	HostName ec2-52-71-123-198.compute-1.amazonaws.com
Host quorum-beta
	HostName ec2-34-192-53-133.compute-1.amazonaws.com
Host quorum-selenium
	HostName ec2-52-1-24-252.compute-1.amazonaws.com
Host quorum-gr
	HostName ec2-35-153-206-88.compute-1.amazonaws.com
Host quorum-gr2
	HostName ec2-34-229-47-69.compute-1.amazonaws.com
Host quorum-instagram
    HostName ec2-52-206-93-76.compute-1.amazonaws.com

Host qdb
    HostName ec2-52-206-129-115.compute-1.amazonaws.com
    User eric
    Port 27
    LocalForward 5433 oh-god-are-we-allowed-to-terminate-the-dev-db.ck4wgl7u5wcg.us-east-1.rds.amazonaws.com:5432
	LocalForward 5434 quorum-production.ck4wgl7u5wcg.us-east-1.rds.amazonaws.com:5432
    ExitOnForwardFailure yes
